<%-include('./partials/__header')-%>
    <div class="contact-content">
        <%-include('./partials/__adminSidebar')-%>
        <div class="contact-form">
            <%if(message.length > 0){%>
                <h3 style="position:absolute; text-align:center; padding:.5rem 1.3rem; background-color:rgba(36, 167, 48, 0.87); width:100%; top:0rem;;"><%=message%></h3>
            <%}else{}%>
            <h3>Agrega tus redes sociales</h3>
            <div class="social-networks">
                <%if(contacts.length > 0){%>
                    <%contacts.map(i=>{%>
                        <img class="network" src="/<%=i.icon%>" alt=<%=i.networkName%> value=<%=i.link%> >
                    <%})%>
                <%}%>
            </div>
            <form id="link-form" action="/auth/addLink/''" method="post">
                <input autocomplete="off" id="url" type="text" name="url" placeholder="Enlace">
                <button>Actualizar</button>
            </form>
        </div>
    </div>
<%-include('./partials/__footer')-%>
